@model Bioscoop.Models.LostItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LostItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateLost" class="control-label"></label>
                <input asp-for="DateLost" class="form-control" />
                <span asp-validation-for="DateLost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFound" class="control-label"></label>
                <input asp-for="DateFound" class="form-control" />
                <span asp-validation-for="DateFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeFound" class="control-label"></label>
                <input asp-for="EmployeeFound" class="form-control" />
                <span asp-validation-for="EmployeeFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeRelease" class="control-label"></label>
                <input asp-for="EmployeeRelease" class="form-control" />
                <span asp-validation-for="EmployeeRelease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationFound" class="control-label"></label>
                <input asp-for="LocationFound" class="form-control" />
                <span asp-validation-for="LocationFound" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ItemFound" /> @Html.DisplayNameFor(model => model.ItemFound)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
