@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
    bool wlapproved = (bool) ViewData["wlapproved"];
}

<!doctype html>
<html lang="en">
<head>

    @if (!wlapproved)
    {
        //redirect to home page
        <script type="text/javascript">
            var getUrl = window.location;
            var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
            window.location.href = baseUrl;
        </script>
    }

    <!-- Bootstrap core CSS -->
    <link href="~/assets/dist/css/bootstrap.min.css" rel="stylesheet">



    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="~/css/signin.css" rel="stylesheet">
</head>
<body class="text-center bg-secondary">

    <form id="account" method="post" class="form-signin bg-light rounded border-dark">
        <h1 class="h3 mb-3 font-weight-normal font-weight-bold">Login</h1>
        <label asp-for="Input.Email" for="inputEmail" class="sr-only">Email address</label>
        <input asp-for="Input.Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <span asp-validation-for="Input.Email" class="text-danger"></span>

        <label asp-for="Input.Password" for="inputPassword" class="sr-only">Password</label>
        <input asp-for="Input.Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <span asp-validation-for="Input.Password" class="text-danger"></span>

        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>



</body>
</html>
