@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Index";
}


<partial name="~/Views/Dashboard/DashboardHeader.cshtml" />


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <h1>Index</h1>

    <p>
        <a class="btn btn-dark" role="button" asp-action="Create">+</a>
    </p>
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                </tr>
            }
        </tbody>
    </table>
</main>

<partial name="~/Views/Dashboard/DashboardFooter.cshtml" />


