
@model Bioscoop.ViewDataWrapper.HomeDashboard

<partial name="~/Views/Dashboard/DashboardHeader.cshtml" />


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <h1>Vandaag</h1>

    <div class="card-deck mb-3 text-center mt-5">

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Reservering(en)</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@Model.reservationList.Count</h1>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Evenement(en)</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@Model.eventList.Count</h1>
            </div>
        </div>
    </div>
</main>

<partial name="~/Views/Dashboard/DashboardFooter.cshtml" />
